<div class="padding50px">
  <%= form_tag convert_link_file_path do %>
    <div class="form-group">
      <label for="exampleInputLinkBefore">Link Before</label>
      <input type="text" class="form-control" id="exampleInputLinkBefore" name="upload_file[link_before]" placeholder="Link Before" required>
    </div>
    <div class="form-group">
      <label for="exampleInputLinkAfter">Link After</label>
      <input type="text" class="form-control" id="exampleInputLinkAfter" name="upload_file[link_after]" placeholder="Link After" required>
    </div>
    <button type="submit" class="btn btn-primary">Convert</button>
    <%= link_to 'Back', root_path, class: 'btn btn-default' %>
  <% end %>
</div>
