<div class="padding50px">
  <%= form_tag convert_link_file_path do %>
    <div class="form-group">
      <label for="exampleInputBaseUrl">Base Url</label>
      <input type="url" class="form-control" id="exampleInputBaseUrl" name="upload_file[base_url]" placeholder="Example : http://acme.test/" required>
    </div>
    <div class="form-group">
      <label for="exampleInputParameterPartner">Parameter Partner</label>
      <input type="text" class="form-control" id="exampleInputParameterPartner" name="upload_file[partner]" placeholder="Example: widget co" required>
    </div>
    <button type="submit" class="btn btn-primary">Convert</button>
    <%= link_to 'Back', root_path, class: 'btn btn-default' %>
  <% end %>
</div>
